@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for matrix overflow */
.matrix-scroll::-webkit-scrollbar {
  height: 8px;
}
.matrix-scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}